.ratings .box {
  /* border: 1px solid gray; */
  overflow: hidden;
  margin: 10px;
  padding: 0 10px;
}

.ratings .box p {
  color: rgb(47, 46, 46);
  font-size: 16px;
  margin-bottom: 0;
  /* border: 1px solid red; */
}
