.like .box {
    /* border: 1px solid gray; */
    overflow: hidden;
    margin: 10px;
    padding: 0 10px;
  }
  
.like .box p {
    color: rgb(47, 46, 46);
    font-size: 16px;
    margin-bottom: 0;
  }

  .like .box .icon {
    width: 50%;
     height: 5vh;
     margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 35px;
  }

  .like .box .icon .thumbs {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .like .box .icon .thumbs p{
    margin-bottom: 15px;
  }

  .blue {
    color: blue;
  }

  .red {
    color: red;
  }