.submit .box {
    /* border: 1px solid gray; */
    overflow: hidden;
    margin: 20px 10px;
    padding: 0 10px;
  }

  .submit .box input[type=text] {
    width: 80%;
    height: 10vh;
    overflow: hidden;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    border-radius: 8px;
    text-align: justify;
    border: #C9CCD3;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .submit .box input[type=submit] {
    width: 85%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #3577D5;
    color: white;
  }